$black: #000000;
$white: #ffffff;
$blue: #3366cc;
$orange: #ff5722;
$light-orange: #FFA20D;
$yellow: #ffa20d;
$error-red: #ff5051;
$gray: #ececec;
$lightest-gray: #f9f9f9;
$light-gray: #f5f5f5;
$dark-gray: #B2B2B2;
$darkest-gray: #979797;
$golden: #a18f7a;
$dark-golden: #A79580;
$green: #7ED321;
$dark-silver: #9B9B9B;
$lightest-silver: #C0C0C0;
$light-black: #5B5B5B;
$lightest-orange: #F6F1EC;
$snow: #FCFCFC;
