.section-seperator {
    display: block;
    position: relative;
    vertical-align: middle;
    background-image: url($stack-sprite);
    background-position: -110px -382px;
    width: 680px;
    height: 19px;
    margin: 85px auto 60px;
}

@media (max-width: 767px) {
    .section-seperator {
        background-position: -292px -451px;
        width: 315px;
        height: 19px;
        margin: 38px auto;
    }
}

// Retina (2x)

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .section-seperator {
        background-image: url($stack-sprite-2x);
        background-size: 900px 900px;
        -webkit-background-size: 900px 900px;
        -moz-background-size: 900px 900px;
    }
}

// Retina (3x)

@media
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (   min--moz-device-pixel-ratio: 3),
only screen and (min-device-pixel-ratio: 3) {
	.section-seperator {
        background-image: url($stack-sprite-3x);
        background-size: 900px 900px;
        -webkit-background-size: 900px 900px;
        -moz-background-size: 900px 900px;
    }
}